*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.big-div{
    width: 100%;
   background-color: rgb(221, 223, 223);
   border-top: 2px dashed #bbbbbb;
   margin-top: 25px;
}
.post {
    /* border: 1px solid black; */
    min-height: 25vh;
    width: 88%;
    background-color: white;
    margin: 2rem;
    padding: 1.5rem;
    margin-left: 80px;
    margin-top: 13px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.post button{
    background-color: rgb(133, 133, 133);
    width: 80px;
    height: 25px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: white
    ;

}
.title {
    /* background-color: #ffffff; */
    min-width: 45vh;
    margin-top: -20px;
    font-size: 2rem;
}
.text{
    margin-top: 10px;
}
.lowerDiv{
    margin-top: 40px;
    width: 200px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.posting{
    width: 88%;
   min-height: 54vh;
    background-color: #ffffff;
    margin-left: 80px;
    margin-top: 45px;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    
}                                      
.headingOfPost,.discriptionOfPost{
    width: 85%;
    height: 40px;
    border-radius: 10px;
    border-color:rgb(240, 240, 240) ;
    margin-top: 40px;
    border: 1px solid #C6CCD2;
    border-style: groove;
    color: #363738;
    padding-left: 10px;
    margin-left: 75px;
}
.headingOfPost,.discriptionOfPost::placeholder{
    font-size: 17px;
}
.discriptionOfPost{

    height: 25vh;
    margin-top: 20px;
    padding-top: 10px;
}
.submit{
    height: 33px;
    width: 140px;
    margin-top: 12px;
    border-radius: 6px;
    border-style: none ;
    background-color: #7749F8;
    color: white;
    font-weight: 550;
    font-size: 17px;
    margin-left: 75px;
}

.postDisplay{
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    margin-top: -40px;

}
.allBlog{
    width: 26%;
    height: 7vh;
    background-color: transparent;
    font-size: 30px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 50px;
}



/* Styling of edit post */

.editPostDiv{

   min-height: 25vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* margin: 2rem;
    padding: 1.5rem;
    margin-left: 80px; */
    /* margin-top: 13px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.editTitle{
    min-width: 45vh;
    margin-top: -20px;
    font-size: 2rem;
}
.editText{
    min-width: 45vh;
    min-height: 15vh;
    margin-top: 10px;
    font-size: 17px;
}
.button-div-eidt{
    margin-top: 10px;
    width: 200px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}